.bgContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.courier {
  font-family: var(--font-mono);
  font-weight: bold;
}

.roboto{
  font-family: var(--font-body);

}

.formWrapper {
  width: 60%; 
  margin: 0 auto;
  text-align: left;
  font-family: var(--font-body);
}

.formWrapper h3 {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: normal;  
}

.sidebar {
  height: 100vh;
  width: 20em;
  max-width: 23em;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  border-right: 1px solid #ddd;
}

.sidebar > * {
  margin: 2em;
}

.avatarIcon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 1rem 0;
}
